.vscode/**
.vscode-test/**
.git/**
src/**
out/**/*.map
out/tests/**
.gitignore
tsconfig.json
*.ts
!out/src/**/*.js

# Exclude test/dev/build files from VSIX
tests/**
status/**
python/build/**
python/webcure.egg-info/**
__pycache__/**
default.profraw
*.vsix

# Exclude all node_modules except playwright-core
node_modules/**
!node_modules/playwright-core/**
